<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InIntern</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../style/styles.css" rel="stylesheet" type="text/css" >
    <nav class="navbar">
        <div class= "container-fluid bg-info">
          <div class="text-center">
              <h3>InIntern</h3>
          </div>
          <div class="">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/home">HOME</a></li>
              <li id="about"><a href="#foo">ABOUT US</a></li>
              <li id="contact"><a href="#foo">CONTACT US</a></li>
              <li id="post"><a href="/post">POST</a></li>
              <li id="post"><a href="/profile">PROFILE</a></li>
              <li id="logout"><a href="/logout">LOGOUT</a></li>
            </ul>
          </div>
        </div>
    </nav>
</head>
<body>